@using System.Reflection
@using Aquila.Core.Instance
@using Microsoft.AspNetCore.Http

@inject AqInstanceManager InstanceManager

<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="AdditionalAssemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address</p>
            <p>@InstanceName</p>
            <p>Lookup assemblies: </p>
            @foreach (var asm in AdditionalAssemblies)
            {
                <p>@asm</p>
            }
        </LayoutView>
    </NotFound>
</Router>


@code
{
    public Assembly[] AdditionalAssemblies { get; set; } = Array.Empty<Assembly>();

    [Parameter]
    public string InstanceName { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (InstanceManager.TryGetInstance(InstanceName, out var instance))
            AdditionalAssemblies = new[] { instance?.BLAssembly };
    }
}